{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Taskly{% endblock %}</title>
    {% include 'components/header_link.html' %}
</head>

<body>
    {% include 'components/navbar.html' %}
    
    {% block content %}{% endblock %}
    
    {% include "components/toast_notify.html" %}
    {% include 'components/footer_link.html' %}
    {% include 'components/footer.html' %}
</body>

</html>
